/* Colores: http://htmlcolorcodes.com/es/ */


*{
	margin: 0px;
	border: 0px;
	padding: 0px;
	font-family: 'Open Sans', sans-serif;
}
body{
	border:5px;
	background-color: #283747;
}
h1{
	font-size: 1.4em;
	text-align: center;
}
.link a, a.link{
	color: #DAF7A6;
	text-decoration: none;
	font-weight: bold;
}
.link a:hover, a.link:hover{
	color: #1ABC9C;
}

.contenedor
{
	background-color: #2471A3;
}

.header{
	background-color: #283747;
	position: fixed;
	z-index: 10;
	width: 100%;
}

.span-header{
	text-align: left;
	display: inline-block !important;
}
.user-menu{
	text-align: right;
	display: inline-block !important;
	position: fixed;
	right: 0px;
	top: 0px;
}

.logout-form{
	display: inline-block;
}

.link{
	display: inline-block;
	padding: 10px;
	text-transform: uppercase;
}

.nav-radio
{
	position: absolute;
	bottom: 30%;
	right: 10%;
}

.slider-container
{
	position: relative;
	top: 0px;
	left: 0px;
	height: 550px;
	width: 100%;
	text-align: center;
}

.username
{
	color: #FFFFFF;
	font-weight: bold;
}

.slider-container img
{
	position: relative;
	width: 90%;
	height: 100%;
	animation-name: slider-animation;
	animation-duration: 2s;
}

.modal-login{
	background-color: #DAF7A6 !important;
}

.tabla-login{
	margin: 0 auto;
}

.tabla .tabla-row .cell1{
	font-size: 1.2em;
	margin: 10px;
}

.input-text{
	padding: 5px;
	margin: 10px;
}

.tabla .tabla-row .cell1{
	text-align: left;
}
.tabla .row3{
	text-align: right;
}
.button{
	margin:10px;
	padding: 5px;
	background-color: #2980B9;
	cursor: pointer;
	text-align: center;
	font-size: 1.0em;
	font-weight: bold;
	text-transform: uppercase;
	color: #DAF7A6;
}

.button:hover{
	color: #1ABC9C;
}

.button-salir{
	background-color: transparent;
	padding: 0px;
}
@keyframes slider-animation
{
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}

